* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bgColor: #3a6e83;
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: $bgColor;
}
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

// .sticky + .content {
//   padding-top: 102px;
// }

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  padding-top: 10px;
}

.menu {
  display: flex;
  list-style: none;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.menu__list-item {
  padding-left: 20px;
  font-size: 20px;
  &:hover {
    opacity: 0.7;
  }
}

.owl-carousel {
  img {
    height: calc(100vh - 80px);
    position: relative;
  }
}

.owl-dots {
  position: absolute;
  bottom: 10px;
  left: 25%;
  right: 25%;
}

.hero {
  position: relative;
}

.hero-content {
  position: absolute;
  top: 155px;
  left: 50px;
  z-index: 1;
  color: #fff;
}

.hero-title {
  font-family: "Courgette", cursive;
  font-size: 54px;
}

.hero-subtitle {
  padding-top: 10px;
  font-size: 20px;
}

.region {
  margin: 100px 0 100px;
}

.card {
  border: 2px solid #3a6e83;
  border-radius: 15px;
  margin: 0 20px 40px 0;
  transition: transform 300ms;
  &:hover {
    transform: translateY(-20px);
  }
}

.card-content {
  padding: 15px;
  img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
  }
}

.card-content__title {
  font-size: 20px;
  color: #373d3f;
  text-align: left;
  padding: 15px 0 10px 10px;
}

.card-content__link {
  text-decoration: none;
}

.card-content__subtitle {
  color: #5db7db;
  padding-left: 10px;
  transition: transform 300ms;
  &:hover {
    transform: translateX(10px);
  }
  &::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-top: 2px solid #5db7db;
    border-right: 2px solid #5db7db;
    transform: translateY(-2px) rotate(45deg);
    margin-right: 6px;
  }
}

.about-kg {
  margin-bottom: 100px;
}

.about__title {
  text-align: center;
  font-size: 44px;
  color: #3a6e83;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.about-company {
  padding-bottom: 50px;
}

.about-company__title {
  font-size: 34px;
  font-weight: 400;
  padding-bottom: 20px;
  letter-spacing: 1.6px;
}

.about-company__description {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.6px;
  color: #797979;
}

.about-company__list {
  margin-left: 30px;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.6px;
  color: #797979;
}

.about-kg__title {
  font-size: 44px;
  text-align: center;
  color: #3a6e83;
  font-family: "Courgette", cursive;
  padding-bottom: 50px;
}

video {
  width: 100%;
}

.about-kg__content {
  font-size: 24px;
  padding-left: 50px;
}

.contact {
  background: $bgColor;
  color: #ffffff;
  padding: 50px 0 20px;
  text-align: center;
}

.contact-title {
  letter-spacing: 1.6px;
  font-size: 44px;
  font-weight: 300;
}

.social-network {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 30px 0 30px;
}

.contact-list__item {
  font-size: 30px;
  &:nth-child(2) {
    padding: 0 70px 0 70px;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      opacity: 0.5;
    }
  }
}

.contact-item {
  font-size: 20px;
  padding-bottom: 30px;
  a {
    text-decoration: none;
    color: #ffffff;
  }
  &:hover {
    text-decoration: underline;
  }
  .fas {
    padding-right: 10px;
  }
  .far {
    padding-right: 30px;
  }
}
